html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.burger {
  height: 40px;
  width: 38px;
  z-index: 3;
  position: absolute;
  float: right;
  margin-left: 1800px;
  margin-top: 65px;
  cursor: pointer;
}

.burger span {
  height: 4px; 
  background-color: #FFFFFF;
  width: 100%; 
  position: absolute;
  top: 20px;
  left: 0;
 
}

.burger span:after {
  content: "";
  height: 4px; 
  background-color: #FFFFFF;
  width: 60%; 
  position: absolute;
  top: -13px;
  left: 13px;

}

.burger:hover span {
  transform: translateY(-5px);
  transition-duration: 0.4s;

}

.burger:hover span:after {
  transform: translateY(13px);
  transition-duration: 0.4s;
  
   }

.burger.anime span {
  height: 4px; 
  background-color: #E42318;
  width: 100%; 
  position: absolute;
  top: 20px;
  left: 0;
  transform: rotate(45deg);
  transition-duration: 0.5s;

} 

.burger.anime span:after {
  content: "";
  height: 4px; 
  background-color: #E42318;
  width: 100%; 
  position: absolute;
  top: 0px;
  left: 0px;
  transform: rotate(-90deg);
  transition-duration: 0.5s;
}

.menu1 {
  height: 949px;
  background-color: #171717;
  width: 220px;
  margin-left: 1706px;
  position: absolute;
}

.menu2 {
  height: 949px;
  z-index: 2;
  background-color: #FFFFFF;
  width: 220px;
  position: absolute;
}

  .sp {
    margin-top: 200px;
  }

.menu2 li {
  color: #2c3e50;
  font-size: 20px;  
  list-style: none;
  padding-top: 20px;
  margin-left: 40px;
}

.menu3 li {
  color: #FFFFFF;
  font-size: 40px;  
  list-style: none;
  padding-top: 20px;
  margin-left: 250px;
}

.menu3 {
  height: 949px;
  width: 1950px;
  z-index: 1;
  background-color: #E42318;
  position: absolute;
}


  .nav {
    margin-left: 2000px;
    transition-duration: 1s;

  }

  .nav_open {
    margin-left: 1700px;
    transition-duration: 0.5s;  
  }

  .nav2 {
    margin-left: 1920px;  
    transition-duration: 0.3s;

  }
  .nav2_open {
    margin-left: 0;
    transition-delay: 0.1s;  
  }
